@model IEnumerable<WebApplication7.Models.User>

@{
    ViewBag.Title = "Users";
}

<h2 class="text-center py-2">Vartotojai</h2>
<hr />
<table class="table">
    <tr>
        <th>
            Vardas
        </th>
        <th>
            Pavardė
        </th>
        <th>
            Amžius
        </th>
        <th>
            El. paštas
        </th>
        <th>
            Naudotojo rolė
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role)
        </td>
        <td>
            @Html.ActionLink("Pašalinti vartotoją", "DeleteUser", new { id=item.UserID })
        </td>
    </tr>
}

</table>
