@model WebApplication7.Models.Lecture

@{
    ViewBag.Title = "EditLecture";
}

<h2 class="text-center py-2">EditLecture</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container w-50 justify-content-center mr-auto">
        <div class="container col-6">
            <h4 class="text-center py-2">Lecture</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)

            <div class="form-group" style="padding-left:40px">
                @Html.LabelFor(model => model.ModuleID, "Modulis", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ModuleID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ModuleID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="padding-left:40px">
                @Html.LabelFor(model => model.LectureTitle, "Paskaitos pavadinimas", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LectureTitle,  new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LectureTitle, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group" style="padding-left:40px">
                @Html.LabelFor(model => model.LectureActivity, "Paskaitos veikla", htmlAttributes: new { @class = "control-label col-md-12" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.LectureActivity,  new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.LectureActivity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group py-2" style="padding-left:40px">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Iššsaugoti" class="btn btn-info" />
                </div>
            </div>
        </div>
        </div>
        <hr />
        }